.order_table {
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 1rem;
    min-width: 40rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


  
.order_table thead tr {
    background-color:#000;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 1.4rem;
}
  
.order_table th,
.order_table td {
    padding: 12px 15px;
}
  
.order_table tbody tr:last-of-type {
    border-bottom: 1px solid #000;
}
  
  
.order_table tbody tr td:last-of-type {
  font-weight: bold; 
}

@media (max-width: 750px) {
  .order_table {
    font-size: 0.8rem;
    width: 90%;
    min-width: 10rem;
}
  
.order_table thead tr {
    font-size: 1.1rem;
}

}